<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <h2>Welcome Admin</h2>
    <h3>Delete Post</h3>
    <a href="/admin">Home |</a>
    <a href="/admin/profile">Profile </a> |
    <a href="/admin/change"> Change Password </a> |
    <a href="/logout">Logout </a>
    <hr />
    <a href="/admin/post">Pending Post</a> |

    <a href="/admin/users">All General User</a> |
    <a href="/admin/scouts">All Scouts</a>
    <hr />
    <form method="POST">
      <table>
        <tr>
          <td>Post Date:</td>
          <td><%=post[0].create_date %></td>
        </tr>
        <tr>
          <td>From:</td>
          <td><%=post[0].ffrom %></td>
        </tr>
        <tr>
          <td>To:</td>
          <td><%=post[0].tto %></td>
        </tr>
        <tr>
          <td>Drescription:</td>
          <td><%=post[0].drescription %></td>
        </tr>
        <tr>
          <td>Cost:</td>
          <td><%=post[0].cost %></td>
        </tr>
      </table>
      <h4>Are You Sure?</h4>
      <input
        style="background-color: red; cursor: pointer"
        type="submit"
        name="submit"
        value="Confirm"
      />
    </form>
  </body>
</html>
