<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <h2>Welcome <%=user[0].name %></h2>
    <h3>Home</h3>
    <a href="/user">Home |</a>
    <a href="/user/profile">Profile </a> |
    <a href="/user/change"> Change Password </a> |
    <a href="/logout">Logout </a>
    <hr />
    <a href="/user/allwishlist">Wishlist </a>
<hr>
      <div>
        <hr />
    <% for(let i=0;i<post.length; i++){ %> 
      <a style="background-color:white;
      border: none;
      color: black;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      margin: 4px 2px;
      border: 2px solid #008CBA;
      border-radius: 10px;
      cursor: pointer;" href="/user/wishlist/<%=post[i].id  %> ">Add to Wishlist</a>
      <table>
        <tr>
          <td>Post Date:</td>
          <td><%=post[i].create_date %></td>
        </tr>
        <tr>
          <td>From:</td>
          <td><%=post[i].ffrom %></td>
        </tr>
        <tr>
          <td>To:</td>
          <td><%=post[i].tto %></td>
        </tr>
        <tr>
          <td>Drescription:</td>
          <td><%=post[i].drescription %></td>
        </tr>
        <tr>
          <td>Total Cost:</td>
          <td><%=post[i].cost %></td>
        </tr>

      </table>
    <a style="background-color:white;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    border: 2px solid #11d42e;
    border-radius: 10px;
    cursor: pointer;" href="/user/comments/<%=post[i].id%> ">Comments</a> 
      <hr />
    <% } %> 
      </div>
  

   
  </body>
</html>
